# Ignorar arquivos brutos
data/*.csv

# Ignorar pasta de rascunhos
scratch/

# Ignorar configurações locais do VSCode
.vscode/

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar volumes ou pastas de bancos (Docker)
pgdata/



